<div class="ui-view" id="group-list">
  <div class="container">
    <div class="page-title-container">
      <div class="page-title inline">Group List</div>
      <button type="button" class="add header-button" data-bind="click: function(){addGroup()}">New Group</button>
    </div>
    <input type="text" placeholder="Search" class="search" data-bind="textInput: currentFilter" />
    <div class="list-group" data-bind="foreach: filteredResults">
      <div class="list-element" data-bind="click: function(data, event) {event.stopPropagation();$root.handleGroupSelected($data)}">
        <div class="list-img">
          <i class="fa fa-group" aria-hidden="true"></i>
        </div>
        <div class="list-text">
          <div class="list-text-primary" data-bind="text: groupName"></div>
          <div class="list-text-secondary" data-bind="text: description"></div>
        </div>
        <div class="list-btns">
          <span alt="view group details"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
          <!-- <span alt="delete group" data-bind="click: function(data, event) {event.stopPropagation();$root.deleteGroup($data)}"><i class="fa fa-trash" aria-hidden="true"></i></span> -->
        </div>
      </div>
    </div>
  </div>
</div>
